<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-1 text-center">
            <%= link_to "#", class: "btn btn-link" do%>
              <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
            <% end %>
            <span class="badge badge-default"><%= rand(1..50) %></span>
            <%= link_to "#", class: "btn btn-link" do%>
              <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
            <% end %>
          </div>
          <div class="col-md-11">
            <div class="row">
              <div class="col-md-12">
                <div class="panel panel-default">
                  <div class="panel-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  </div>
                  <div class="panel-footer">
                    <%= link_to "comment", "#", class: "btn btn-link btn-xs" %>
                    <%= link_to "edit", "#", class: "btn btn-link btn-xs" %>
                  </div>
                </div>
               </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-9">
    <% 4.times do |comment| %>
      <div class="row">
        <div class="col-md-1 text-center">
          <%= link_to "#", class: "btn btn-link" do%>
            <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
          <% end %>
          <span class="badge badge-default"><%= rand(1..50) %></span>
          <%= link_to "#", class: "btn btn-link" do%>
            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
          <% end %>
        </div>
        <div class="col-md-11">
          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-default">
                <div class="panel-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </div>
                <div class="panel-footer">
                  <%= link_to "comment", "#", class: "btn btn-link btn-xs" %>
                  <%= link_to "edit", "#", class: "btn btn-link btn-xs" %>
                </div>
              </div>
             </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        Admin
      </div>
      <div class="panel-body">
        <div class="btn-group-vertical" role="group">
          <%= link_to "Manage", "#", class: "btn btn-default" %>
          <%= link_to "Export Task", "#", class: "btn btn-default" %>
          <%= link_to "Deny / Flag", "#", class: "btn btn-default" %>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        Info
      </div>
      <div class="panel-body">
        <ul>
          <li>124 Watchers</li>
          <li>5 Posts</li>
          <li>Posted on 25.09.16</li>
        </ul>
      </div>
    </div>

  </div>
</div>
