<%= form_for @feature do |f| %>
  <%= render "shared/errors", object: @feature if @feature.errors.any? %>
  <div class="form-group">
    <label><%= t('title') %></label>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <label><%= t('description') %></label>
    <%= f.text_area :body, class: "form-control"  %>
  </div>
  <%= f.submit nil, class: "btn btn-default" %>
<% end %>
